@{ ViewData["Title"] = "Home Page"; }

<div id="app"></div>

dotnet ef migrations add InitialCreate --startup-project "./Vue2Spa" --context HttpFileContext

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
